<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd      
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- author minn -->
 
  <context:property-placeholder ignore-unresolvable="true" location="classpath*:/spring/application.privilege.properties" />
  <context:component-scan base-package="p.minn.privilege.service,p.minn.aop.log,p.minn.common.service,p.minn.demo.service,p.minn.security.service"/>
  
  <bean id="privilegedataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" primary="true"> 
		<property name="driverClassName" value="${jdbc.privilege.driver}"/> 
		<property name="url" value="${jdbc.privilege.url}"/> 
		<property name="username" value="${jdbc.privilege.username}"/> 
		<property name="password" value="${jdbc.privilege.password}"/> 
	</bean> 

	<bean id="privilegetransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="privilegedataSource" />
	</bean>
	
    <tx:annotation-driven transaction-manager="privilegetransactionManager"/>

	<!-- define the SqlSessionFactory -->
	<bean id="privilegeSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="privilegedataSource" />
		<property name="typeAliasesPackage" value="p.minn.privilege.entity,p.minn.common.entity,p.minn.auth.entity" />
		<property name="mapperLocations" >
		   <list>
		       <value>classpath:/mybatis/privilege/*Mapper.xml</value>
		       <value>classpath:/mybatis/common/*Mapper.xml</value>
		       <value>classpath:/mybatis/auth/*Mapper.xml</value>
		   </list>
		</property>
	</bean>


	<!-- scan for mappers and let them be autowired -->
	<bean id="privilegemapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="p.minn.privilege.repository,p.minn.common.repository,,p.minn.auth.repository" />
		<property name="sqlSessionFactoryBeanName" value="privilegeSessionFactory"/>
	</bean>
	<!--  
    <aop:config>
       <aop:pointcut expression="execution(public * p.minn..*.*(..))" id="crudlog"/>
       <aop:advisor advice-ref="logTableAop" pointcut-ref="crudlog"/>
    </aop:config>
    -->
 
</beans>