<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="p.minn.privilege.repository.CommonDao">
 
   <sql id="commonsql">
       ${sql}
    </sql>
    
   <select id="getTotal" resultType="java.lang.Integer">
        <include refid="commonsql"/>
   </select>
  
 	<select id="query" resultType="java.util.HashMap">
 	 <include refid="commonsql"/>
	</select>
     
     <sql id="pagesql">
       limit ${startR},${endR}
     </sql>
 
 
    <select id="getConfigMenuTotal" resultType="java.lang.Integer">
        select count(*) as c from resource where 1=1
        <if test="name!='unknown'"> and (name_zh like '${name}%' or name_en like '${name}%')</if>
		<if test="urltype!='unknown'"> and urltype=${urltype}</if>	
		<if test="active!='unknown'"> and active=${active}</if>	
    </select>
    
   <select id="getConfigMenu" resultType="java.util.HashMap">
     select id,name_en,name_zh,url,CAST((select max(name_${lang}) from v_dictionary where mkey='RESOURCEPID' and val=resource.pId) as char) as pNode,
     CAST((select max(name_${lang}) from v_dictionary where mkey='RESOURCETYPE' and val=resource.type) as char) as typename,code,sort,
     CAST((select max(name_${lang}) from v_dictionary where mkey='RESOURCEURLTYPE' and val=resource.urltype) as char) as urltype,
     CAST((select max(name_${lang}) from v_dictionary where mkey='ACTIVETYPE' and val=resource.active) as char) as active from resource
     where 1=1  
 	           
		<if test="name!='unknown'"> and (name_zh like '${name}%' or name_en like '${name}%')</if>
		<if test="urltype!='unknown'"> and urltype=${urltype}</if>	
		<if test="active!='unknown'"> and active=${active}</if>	
		
 	   <include refid="pagesql"/>
   </select>
 
 
</mapper>