<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="p.minn.privilege.repository.DictionaryDao">

  <select id="getDic" resultType="java.util.HashMap">
     select  d.mkey,d.val as id,d.name as text from v_globalization_dictionary d 
 where d.language=#{lang} and  d.mkey in(${type});
  </select>

  <select id="getDicType" resultType="java.util.HashMap">
     select distinct d.mkey,g.name from dictionary d left join (select * from globalization where tablename='dictionary') g
	on d.mkey=g.tableid and g.language=#{lang};
  </select>
  
  <select id="getTotal" resultType="java.lang.Integer">
		select count(*) from dictionary d 
		<where>
		   <if test="condition.pkey!='unknown'">
		  		d.mkey=#{condition.pkey}
		</if>
		</where>
	</select>
	
  <select id="query" resultType="java.util.HashMap">
		select d.id,d.mkey as pkey,d.val as value,d.sort,(select max(name) from account where id=d.createid) as createname,
		date_format(d.createtime,'%Y-%m-%d %H:%i:%s') as createtime,g.name,g.id as gid,date_format(d.updatetime,'%Y-%m-%d %H:%i:%s') as updatetime,
		(select max(name) from account where id=d.updateid) as updatename  from dictionary d inner join globalization g on g.tablename='dictionary' and g.language=#{lang} and g.tableid=d.id    
		<where>
		   <if test="condition.pkey!='unknown'">
		  		d.mkey=#{condition.pkey}
		</if>
		</where>
		order by createtime desc
		limit ${page.startR},${page.rp}
	</select>
  
  <update id="update" parameterType="Dictionary">
		UPDATE dictionary SET
		val=#{val},
		sort=#{sort},
		updateid=#{updateid},
		updatetime=sysdate()
		WHERE id = ${id}
	</update>

	<delete id="delete">
		delete from dictionary where id=${id} 
	</delete>
  
  <insert id="save" parameterType="Dictionary" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO dictionary (mkey, val,
		sort,createid,createtime,updateid,updatetime)
		VALUES ( #{mkey}, #{val},
		#{sort},#{createid},sysdate(),#{createid},sysdate())
	</insert>
	
  	<select id="checkType" resultType="java.lang.Integer">
		select count(*) from dictionary where mkey=#{mkey}
		and val=#{val}
	</select>
</mapper>